# Python Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env

# Node Frontend
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Face recognition models
frontend/public/models/

# Large files
*.dylib
*.so
*.dat
*.dll
*.pyd
*.whl 